::-moz-selection {
    /* Code for Firefox */
    color: #ffffff;
    font-weight: bold;
    background: #ff084e;
}

::selection {
    color: #ffffff;
    font-weight: bold;
    background: #ff084e;
}

.link-div {
    cursor: pointer !important;
}

.swal2-popup.swal2-toast {
    box-shadow: none !important;
}

.text-shopinn,
.text-shopinn:hover,
.text-shopinn:focus {
    color: #ff084e !important;
}

.text-danger,
a.text-danger:hover {
    color: red !important;
}

.label-with-link {
    display: flex;
    justify-content: space-between;
}

.checkbox input[type="checkbox"]:checked + label:before {
    color: #ff084e;
}

.checkbox input[type="checkbox"] + label:before {
    border: 2px solid #ff084e;
}

.progress-danger .progress-bar {
    background-color: red;
}

.btn-primary {
    color: #ffffff;
    background-color: #ff084e !important;
    border-color: #ff084e !important;
}

.btn-danger {
    color: #ffffff;
    background-color: #d31e25 !important;
    border-color: #d31e25 !important;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.dropdown-toggle:focus {
    box-shadow: none !important;
}

span.required {
    color: #d31e25;
    font-weight: bold;
}

a:focus,
a:hover,
a:active,
a {
    box-shadow: none !important;
    outline: none !important;
}

.header .header-container .nav-left .notifications .counter,
.header .header-container .nav-right .notifications .counter {
    right: 3px;
    top: 8px;
    background-color: #ff084e;
    color: #ffffff;
    padding: 5px 4px;
}

.nav-item.active a .title {
    font-weight: 700;
    /* color: #ff084e; */
    color: #ff084e;
    transition: 0.3s all ease-in-out;
}

.nav-item.active a:hover .title {
    font-weight: 700;
    color: #ff084e;
    transition: 0.3s all ease-in-out;
}

.nav-item.active a .icon-holder {
    font-weight: 700;
    color: #ff084e;
}

.side-nav .side-nav-inner .side-nav-menu li a:hover .icon-holder,
.side-nav .side-nav-inner .side-nav-menu li a:focus .icon-holder,
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open > a .icon-holder,
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open > a {
    color: #ff084e;
}

.search-input .search {
    min-width: 250px;
    max-width: 500px;
}

.form-control:focus {
    border-color: #ff084e;
}

.checkbox.checkbox-primary input[type="checkbox"]:checked + label:before {
    color: #ff084e;
    font-weight: bold;
}

.content-footer .footer .go-right {
    float: right;
    padding-bottom: 20px;
}

.side-nav
    .side-nav-inner
    .side-nav-menu
    > li.dropdown
    ul.dropdown-menu
    > li.active
    a {
    color: #ff084e;
    font-weight: 500;
}

.calendar-event .add-event {
    top: -21px;
    padding: 8px 12px 6px 11px;
}

.fc-basic-view .fc-day-number.fc-today.fc-today,
.fc-event-container .fc-event {
    background-color: #ff084e !important;
    color: #ffffff !important;
}

.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active:hover.active:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus {
    background-color: #ff084e;
}

.input-icon i {
    top: 9px;
    color: #ff084e;
    opacity: 0.8;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #ff084e;
    border: 1px solid #ff084e;
}

.widget-profile-1 .profile img {
    max-width: 125px;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:active,
.swal2-confirm.swal2-styled:focus,
.swal2-confirm.swal2-styled:active {
    outline: none !important;
}

/* Loader */

.pace .pace-progress {
    background: #ff084e;
}

/* Side nav */

li.setting-items {
    margin-bottom: 100px;
}

/* BreadCrumb */

.breadcrumb-item {
    margin-top: 5px;
}

.breadcrumb > .breadcrumb-item > h4.page-header-title {
    font-weight: 700;
    text-transform: capitalize;
    margin-top: -5px;
    color: #ff084e;
}

.breadcrumb-item.home > a > i {
    font-size: 18px;
    font-weight: 700;
    color: #ff084e;
}

.breadcrumb-item > a {
    color: #ff084e;
    transition: 0.3s all ease-in-out;
}

.breadcrumb-item > a:hover {
    font-weight: bold;
    color: #ff084e;
    transition: 0.3s all ease-in-out;
}

.breadcrumb-item.home {
    margin-left: 30px;
}

.breadcrumb-item.home::before {
    content: "";
}

/* Summer Note */

.note-fontname button {
    min-width: 200px;
}

.note-para .note-btn-group {
    display: none;
}

.note-insert button:nth-child(2),
.note-insert button:nth-child(3) {
    display: none;
}

.note-popover .popover-content .dropdown-menu,
.panel-heading.note-toolbar .dropdown-menu {
    width: 100%;
}

/* Radio */

.radio.radio-shopinn input[type="radio"]:checked + label:before {
    content: "\f111";
    color: #ff084e;
}
